$primer-color: #f5f6f7;
$segundo-color: rgb(50, 47, 53);
$tercer-color: rgb(231, 111, 131);
$murcielago-color: rgba(209, 119, 15, 0.692);
$cara-color: rgba(44, 39, 39, 0.89);

@mixin fotoRopa {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: auto 10px;
  margin-bottom: 5px;
  padding-top: 20px;
}

body {
  width: 100%;
  height: 100vh;
  background-color: $segundo-color;
  margin: 0;
  color: $primer-color;
  font-family: Verdana, sans-serif;
}
/*Estos elementos serán para modificar los archivos desde "index.html-ayuda.html"*/
header {
  width: 100%;
  height: 50px;
  background-color: $segundo-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
}

h1 {
  color: $primer-color;
  font-size: min(5vw, 1.2em);
  h2 {
    text-align: center;
  }
}

footer {
  text-align: center;
}

#logo {
  width: max(5rem, 9vw);
  background-color: rgb(50, 47, 53);
  aspect-ratio: 12 / 4;
  padding: 0.4rem;
}

nav {
  width: 50%;
  max-width: 800px;
  height: 50px;
}

.navlink {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav {
  color: $primer-color;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
  ul {
    li {
      list-style: none;
    }
  }
}

main {
  padding-top: 50px;
}
a {
  color: $primer-color;
  &:visited {
    color: $primer-color;
  }

  &:active {
    color: $tercer-color;
  }

  &:hover {
    color: $tercer-color;
  }
}

@import "imagen-presentacion";

.galeria {
  @include fotoRopa();
  img {
    width: 240px;
    height: 330px;
    border-radius: 5px;
  }
}

/*.galeria img {
  width: 240px;
  height: 330px;
  border-radius: 5px;
}*/

.newsletter {
  background-color: rgba(46, 26, 26, 0.884);
  border: none;
  text-align: center;
}

.centrador {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/*Estos elementos seran para el documento "contactos.html"*/

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid rgb(230, 0, 50);
}

.contactanos-label {
  display: block;
  text-align: center;
}

button {
  display: block;
  margin: 40px auto;
  width: 20%;
  padding: 15px;
  font-size: 1.2rem;
  background: $primer-color;
  border: 3px solid rgb(142, 59, 197);
}

/*Estos elementos seran para el documento "venta.html"*/

.detalles-venta {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  margin: 0;
  padding: 0 10px;
}

.item-venta {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  margin: 0 0 0 0;
  padding: 0 10px;
}

.item-venta img {
  width: 100%;
  max-width: 400px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.item-venta::after {
  content: "";
  width: 100px;
}

.fila {
  background-color: rgb(116, 30, 19);
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

/* Elementos con GRID, estas clases serán diseñadas para experimentar con GRID diferenciando y apartandoce del flex. Estos elementos seran para el documento "ayuda.html-contactanos.html" */

@media (min-width: 1024px) {
  body {
    font-size: 20px;
    padding: 30px;
  }
}

.gridHeader {
  grid-area: header;
}

.gridMain {
  grid-area: main;
}

.gridCenter {
  display: grid;
  justify-content: center;
}

.gridFooter {
  display: grid;
  grid-area: footer;
  justify-content: bottom;
}

/* Media query para tabletas */
@media (min-width: 600px) {
  body {
    font-size: 18px;
    padding: 20px;
  }

  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .container {
    flex-direction: row;
    justify-content: space-between;
  }
  #gridLayout {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10vh 110vh 5vh;
    grid-template-areas:
      "header header header"
      ". main ."
      ". footer .";
  }
}

.ajustadorNav {
  max-width: 800px;
  height: 50px;
}

/* Ajustes del CSS */
.ajuste {
  padding-top: 700px;
  padding-bottom: 5px;
}

/* Animaciones esta sección está diseñada únicamente para las animaciones que estarán al final de cada pie de página */
.rueda {
  border: 2px solid violet;
  border-radius: 50%;
  margin-left: 50px;
  position: absolute;
  height: 55vw;
  width: 55vw;
  max-width: 500px;
  max-height: 500px;
  animation-name: rueda;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.linea {
  background-color: violet;
  width: 50%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0% 0%;
}
.linea:nth-child(2) {
  transform: rotate(60deg);
}
.linea:nth-child(3) {
  transform: rotate(120deg);
}
.linea:nth-child(4) {
  transform: rotate(180deg);
}
.linea:nth-child(5) {
  transform: rotate(240deg);
}
.linea:nth-child(6) {
  transform: rotate(300deg);
}

.cabina {
  width: 20%;
  height: 20%;
  position: absolute;
  transform-origin: 50% 0%;
  animation: cabinas 10s ease-in-out infinite;
}

.cabina:nth-child(1) {
  right: -8.5%;
  top: 50%;
}

.cabina:nth-child(2) {
  right: 17%;
  top: 93.5%;
}

.cabina:nth-child(3) {
  right: 67%;
  top: 93.5%;
}

.cabina:nth-child(4) {
  left: -8.5%;
  top: 50%;
}

.cabina:nth-child(5) {
  left: 17%;
  top: 7%;
}

.cabina:nth-child(6) {
  right: 17%;
  top: 7%;
}

@keyframes rueda {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes cabinas {
  0% {
    transform: rotate(0deg);
  }
  25% {
    background-color: none;
  }
  50% {
    background-color: none;
  }
  75% {
    background-color: none;
  }
  100% {
    transform: rotate(-360deg);
  }
}

.murcielago {
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 75px;
  z-index: 4;
  position: relative;
  transition: transform 1s ease-in-out 0ms;
}

.murcielago * {
  position: absolute;
}

.murcielago:active {
  transform: scale(1.5);
  cursor: not-allowed;
}

.murcielago-cara {
  width: 50%;
  height: 45%;
  background: $murcielago-color;
  border-radius: 70% 70% 65% 65%;
  top: 10%;
  left: 25%;
  z-index: 1;
}

.murcielago-cuerpo {
  width: 53%;
  height: 45%;
  background: $murcielago-color;
  border-radius: 80% 80% 100% 100%;
  top: 40%;
  left: 23.5%;
}

.murcielago-cuerpo::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 45%;
  background-color: $segundo-color;
  top: 10%;
  left: 25%;
  border-radius: 0 % 0% 100% 100%;
  opacity: 70%;
}

.brazo {
  width: 30%;
  height: 60%;
  background: $cara-color;
  border-radius: 30% 30% 30% 120%;
  z-index: -1;
}

.brazo.izquierdo {
  top: 35%;
  left: 5%;
  transform-origin: top left;
  transform: rotate(130deg) scaleX(-1);
  animation: 3s linear infinite saludar;
}

.brazo.derecho {
  top: 0%;
  left: -5%;
  transform: rotate(-45deg);
}

@keyframes saludar {
  10% {
    transform: rotate(110deg) scaleX(-1);
  }
  20% {
    transform: rotate(130deg) scaleX(-1);
  }
  30% {
    transform: rotate(110deg) scaleX(-1);
  }
  40% {
    transform: rotate(130deg) scaleX(-1);
  }
}

.pie {
  width: 15%;
  height: 30%;
  background: $cara-color;
  top: 85%;
  border-radius: 50%;
  z-index: -1;
}

.pie.derecho {
  right: 25%;
  transform: rotate(-80deg);
}

.pie.izquierdo {
  left: 25%;
  transform: rotate(80deg);
}

.murcielago-left-ear {
  position: absolute;
  top: -26px;
  left: -31px;
  z-index: 1;
  border-top-left-radius: 90px;
  border-top-right-radius: 10px;
  transform: rotate(-45deg);
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 70px solid $cara-color;
}

.murcielago-right-ear {
  position: absolute;
  top: -26px;
  left: 163px;
  z-index: 1;
  border-top-left-radius: 90px;
  border-top-right-radius: 10px;
  transform: rotate(45deg);
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 70px solid $cara-color;
}

.murcielago-left-inner-ear {
  position: absolute;
  top: 22px;
  left: -20px;
  border-top-left-radius: 90px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 40%;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid pink;
}

.murcielago-right-inner-ear {
  position: absolute;
  top: 22px;
  left: -20px;
  border-top-left-radius: 90px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 40%;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid pink;
}

.murcielago-left-eye {
  position: absolute;
  top: 54px;
  left: 39px;
  border-radius: 60%;
  transform: rotate(25deg);
  width: 30px;
  height: 40px;
  background-color: $cara-color;
}

.murcielago-right-eye {
  position: absolute;
  top: 54px;
  left: 134px;
  border-radius: 60%;
  transform: rotate(-25deg);
  width: 30px;
  height: 40px;
  background-color: $cara-color;
}

.murcielago-left-inner-eye {
  position: absolute;
  top: 8px;
  left: 2px;
  width: 10px;
  height: 20px;
  transform: rotate(10deg);
  background-color: $primer-color;
  border-radius: 60%;
}

.murcielago-right-inner-eye {
  position: absolute;
  top: 8px;
  left: 18px;
  width: 10px;
  height: 20px;
  transform: rotate(-5deg);
  background-color: $primer-color;
  border-radius: 60%;
}

.murcielago-nose {
  position: absolute;
  top: 108px;
  left: 85px;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  transform: rotate(180deg);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid $cara-color;
}

.murcielago-mouth div {
  width: 30px;
  height: 50px;
  border: 2px solid $segundo-color;
  border-radius: 190%/190px 150px 0 0;
  border-color: black transparent transparent transparent;
}

.murcielago-mouth-line-left {
 position: absolute;
 top: 88px;
 left: 74px;
 transform: rotate(170deg);
}

.murcielago-mouth-line-right {
  position: absolute;
  top: 88px;
  left: 91px;
  transform: rotate(195deg);
}

.murcielago-whiskers-left div {
  width: 40px;
  height: 1px;
  background-color: $segundo-color;
}

.murcielago-whiskers-right div {
  width: 40px;
  height: 1px;
  background-color: $segundo-color;
}

.murcielago-whisker-left-top {
  position: absolute;
  top: 120px;
  left: 52px;
  transform: rotate(10deg);
}

.murcielago-whisker-left-middle {
  position: absolute;
  top: 127px;
  left: 52px;
  transform: rotate(3deg);
}

.murcielago-whisker-left-bottom {
  position: absolute;
  top: 134px;
  left: 52px;
  transform: rotate(-3deg);
}

.murcielago-whisker-right-top {
  position: absolute;
  top: 120px;
  left: 109px;
  transform: rotate(-10deg);
}

.murcielago-whisker-right-middle {
  position: absolute;
  top: 127px;
  left: 109px;
  transform: rotate(-3deg);
}

.murcielago-whisker-right-bottom {
  position: absolute;
  top: 134px;
  left: 109px;
  transform: rotate(3deg);
}

.dropdown-menu .dropdown-item {
  color: black;
}