$primer-color: #f5f6f7;
$segundo-color: rgb(50, 47, 53);

body {
  width: 100%;
  height: 100vh;
  background-color: $segundo-color;
  margin: 0;
  color: $primer-color;
  font-family: Verdana, sans-serif;
}

header {
  width: 100%;
  height: 50px;
  background-color: $segundo-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  h1 {
    color: $primer-color;
    font-size: min(5vw, 1.2em);
    text-align: center;
  }
  h2,
  footer {
    text-align: center;
  }
}
